<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Add your local source. 
		<add key="Local Feed" value="C:\LocalNuGet" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"/>
-->
		<!-- Keep the official nuget.org source. -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>

	<!-- Optional but recommended: clear other sources to avoid conflicts -->
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>